* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#navbar {
    border-bottom: 1px solid #ccc;
    padding: .5rem;
    margin-bottom: 1rem;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li {
    margin-left: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form-control label {
    font-weight: 700;
    margin-bottom: .3rem;
}

.form-checkbox {
    flex-direction: row;
}

.form-checkbox input {
    margin-right: 10px;
}

.form-control input {
    padding: .4rem;
}

/* USERS */
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0.5rem;
}

.container .item {
    border: 1px solid #ccc;
    border-radius: .4rem;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item h2,
.item p {
    margin-bottom: .8rem;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions a,
.actions input {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.actions .details-btn {
    border-color: #004085;
    color: #004085;
}

.actions .delete-btn {
    border-color: #721c24;
    color: #721c24;
}

/* Address */
.address-container {
    /* max-width: 100px; */
    margin: 1rem auto;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}

.address-container h2 {
    margin-bottom: 1rem;
}

.address-container form {
    width: 450px;
}